---

export interface Performer {
 name: string;
}

export interface Event {
 name: string;
 endDate: number;
 url: string;
 image: string;
}

export interface EventsResponse {
 success: boolean;
 events: Event[];
}
const API =
 "https://www.jambase.com/jb-api/v1/events?apikey=309b2b43-a610-45f5-93a4-ca0c0345e1e2&eventType=concert&geoCountryIso2=IE&genreSlug=blues%7Chip-hop-rap%7Cjazz";

const response = await fetch(API);
const { events }: EventsResponse = await response.json();
const limitedEvents = events.slice(9, 46);

---

<main>
<!--main content container defining large screen, margin-top e bottom -->  
  <section class="container lg mt-5 mb-5">
<!--grid for rponsive layout. 1 column on small screen and 3 on medium and large screen -->
    <div class="row row-cols-1 row-cols-md-3 g-5">
<!--array to display the cards on the main page.-->
      {
        limitedEvents.map((event) => (          
          <div class="event-card">
            <img class="card-img-top" src={event.image} alt={event.name} />
            <h1 class="card-title">{event.name}</h1>
            <p class="card-date">{event.endDate}</p>
            <a class="btn btn-light " href={event.url} target="_blank">
              Find out
            </a>
          </div>
        ))
      }
    </div>
  </section>
 </main>


<style>

.event-card {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.card-title {

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color:rgb(253, 252, 252);
  font-size: 1.3rem;
  margin-top: 20px;
  
  
}
  
.card-date {

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color:rgb(253, 252, 252);
  font-size: 1.1rem;
  margin-top: 10px;
  
}

.btn {

  font-family: "Open Sans", sans-serif;

}

</style>
